
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <h3 class="mb-4">Order Managment</h3>

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Customer</th>
                    <th>Order date</th>
                    <th>Total amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>#@order.OrderID</td>
                        <td>@order.User.FullName</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                        <td>@order.TotalAmount.ToString("N0")₫</td>
                        <td>
                            @if (order.OrderStatus == "Pending")
                            {
                                <span class="badge badge-warning">Pending processing</span>
                            }
                            else if (order.OrderStatus == "Shipped")
                            {
                                <span class="badge badge-success">Delivered</span>
                            }
                            else if (order.OrderStatus == "Cancelled")
                            {
                                <span class="badge badge-danger">Cancelled</span>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("OrderDetails", "Admin", new { id = order.OrderID })" class="btn btn-sm btn-primary">
                                <i class="fas fa-eye"></i>
                            </a>

                            @if (order.OrderStatus == "Pending")
                            {
                                <a href="@Url.Action("UpdateOrderStatus", "Admin", new { id = order.OrderID, status = "Shipped" })" class="btn btn-sm btn-success">
                                    <i class="fas fa-check"></i>
                                </a>
                                <a href="@Url.Action("UpdateOrderStatus", "Admin", new { id = order.OrderID, status = "Cancelled" })" class="btn btn-sm btn-danger">
                                    <i class="fas fa-times"></i>
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-sm btn-success" disabled><i class="fas fa-check"></i></button>
                                <button class="btn btn-sm btn-danger" disabled><i class="fas fa-times"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

